doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    style(type="text/css"): include styles.css
      
    title Post
  body
    br
    br
    p=accessToken + ssdas
    br
    br
    .container
      .row
        .col-md-4
          label(for='username') Choose username:
          select#cars(name='username')
            each user in users 
              option(value=user.id)=user.username
            
          .form-ctrl
            form(action='/' method='post')
              input.form-control(type='text' placeholder='title' name="title")
              br
              input.form-control(type='text' placeholder='content' name="content")
              br
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile"></label>
              br
              br
              button.btn.btn-success(onclick='' type='submit') PUBLISH
               
        .col-md-8
          .posts
          div 
            each post in posts
                .item
                    .username-time
                      .row
                        .col-md.2
                          h3= post.username
                        .col-md.10
                          p= post.timestamp.getDate() + '/' + (post.timestamp.getMonth()+1) + '/' + post.timestamp.getFullYear()
                    .title 
                        h5= post.title 
                    .content
                        p= post.content

                    img.img-fluid(src=''+post.image alt=post.image )
                    br
                    .comment
                      .list-comment 
                        h5 Comment
                        each comment in comments
                          if (comment.post_id==post.id)
                            .item-comment
                              h5=comment.username
                              p=comment.content
                    
                        .form-comment 
                          form(action="/post", method="post") 
                            .input-group
                              input.form-control(type='text' placeholder="Enter comment ..." aria-label="Enter comment ..." aria-describedby='basic-addon2' name='content_comment')
                              .input-group-append
                                button.btn.btn-outline-secondary(onclick='publish()' type='submit') PUBLISH

script.
  //- if accessToken != null
    localStorage.setItem('accessToken', "accessToken index");